<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Home Page</title>
    <link rel="stylesheet" href="/static/_css/home.css?v=1.1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="home_container">
        <div id="home_header_container">
            <div class="header_nav">
                <a class="active" href="#home">Home</a>
                <a href="#news"></a>
                <a href="#contact">Feed</a>
                <a href="#about">About</a>
                <a href="/login">
                    <button class="header_button" id="btn_login">Login</button>
                </a>
                <a href="/register">
                    <button class="header_button" id="btn_register">Register</button>
                </a>
              </div>
        </div>
        <div id="home_inner">
            <div id="particles-js">
                <div id="home_headline">The Center of Decentralization</div>
            </div>
            <div id="home_main">
                <div id="home_left">
                    <div id="left_panel">
                        <div id="panel_text" class="wave_text">Be the future</div>
                        <div id="wave_img">
                            <div id="wave_text" class="wave_text">Discuss the future</div>
                        </div>
                    </div>
                </div>
                <div id="home_right">
                    <div id="right_panel_top"></div>
                    <div id="right_panel_bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="/static/_js/particle.js"></script>
</body>
</html>