<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Prices</title>
        <meta name="description" content="Prices">
        <link rel="stylesheet" href="/static/_css/global.css?v=1.5">
        <link rel="stylesheet" href="/static/_css/prices.css?v=1.0">
    </head>
    <body>
        <div class="container">
            <div class="inner">
                <div id="header">
                    <a class="logo" href="/">Logo</a>
                    <ul class="header_menu">
                        <li><a href="/prices">PRICES</a></li>
                        <li><a href="/exchanges">EXCHANGES</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="/contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="js/scripts.js"></script>
    </body>
</html>