  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Chat Component</title>
    <link rel="stylesheet" type="text/css" href="/static/_css/session.css">
  </head>
  <body>
    <div id="main_container">
      <div class="chat_container">
        <div id="message_container" style="max-height: 200px; width: 400px; height: 200px; border: 3px solid #000; display: flex; overflow: auto; flex-direction: column-reverse;">
          <h3 style='color: #ccc;font-size: 30px;'>Its empty in here</h3>
          <div class="message_holder"></div>
        </div>

        <form action="" method="POST">
          <h2>Username: {{ current_user.username }}</h2>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit"/>
        </form>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      function updateScroll(){
        var scroll_box = document.getElementById("#message_container");
        scroll_box.scrollTop = scroll_box.scrollHeight;
      }

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = "{{ current_user.username }}"
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
          updateScroll(); 
        }
      })
    </script>

  </body>
  </html>